swagger: "2.0"
info:
  description: "myRetail product server"
  version: "1.0.0"
  title: "myRetail products"
host: "us-central1-target-myretail-demo.cloudfunctions.net"
basePath: "/"
tags:
- name: "product"
  description: "myRetail product API"
schemes:
- "https"
paths:
  /products/{productID}:
    get:
      tags:
      - "product"
      summary: "Get a product"
      description: "Get a product by the product id"
      produces:
      - "application/json"
      - "text/plain"
      parameters:
      - name: productID
        in: "path"
        description: "The ID of the product to fetch"
        required: true
        type: "integer"
      responses:
        200:
          description: "Product fetched successfully"
          schema:
            $ref: "#/definitions/Product"
        400:
          description: "Invalid product ID"
        500:
          description: "Internal server error"
    put:
      tags:
      - "product"
      summary: "Update an existing product price"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      - "text/plain"
      parameters:
      - name: productID
        in: "path"
        description: "The ID of the product to update"
        required: true
        type: "integer"
      - in: "body"
        name: "body"
        description: "Product price update object"
        required: true
        schema:
          $ref: "#/definitions/CurrentPrice"
      responses:
        200:
          description: "Product updated"
        400:
          description: "Bad request"
        415:
          description: "Unsupported content type"
        413:
          description: "Body larger than 1MB"
        500:
          description: "Internal server error"

definitions:
  CurrentPrice:
    type: "object"
    properties:
      value:
        type: "number"
        format: "float"
      currency_code:
        type: "string"
  Product:
    type: "object"
    properties:
      product_id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      current_price:
        $ref: "#/definitions/CurrentPrice"
    required: 
      - product_id
externalDocs:
  description: "Codebase"
  url: "https://github.com/leebradley/myretail"